.articles__container {
}

.articles__header {
  display: flex;
  justify-content: space-between;

  .articles__button {
    max-width: 153px;
    align-self: center;

    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 2.5px);
      right: 12px;
      width: 8px;
      height: 2px;
      background: #ffffff;
      border-radius: 2px;
      transform: rotate(45deg);
    }
    &:after {
      content: "";
      position: absolute;
      top: calc(50% + 2.5px);
      right: 12px;
      width: 8px;
      height: 2px;
      background: #ffffff;
      border-radius: 2px;
      transform: rotate(-45deg);
    }
  }
}

.articles__header-container {
  display: flex;
  flex-direction: column;
  max-width: 488px;

  .articles__title {
    font-size: $h2;
    line-height: 45px;
    font-weight: bold;
    padding-bottom: 16px;
    color: $color_2;
  }
  .articles__text {
    font-size: $text;
    line-height: 28px;
    color: $color_4;
    padding-bottom: 80px;
  }
}

.articles__body {
  padding-bottom: 323px;

  .articles__subtitle {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: $sub;
    font-weight: bold;
    line-height: 20px;
    color: $color_4;
  }
}

.articles__list {
  display: flex;
  justify-content: space-between;

  .article {
    display: flex;
    flex-direction: column;
    max-width: 361px;
    padding-top: 32px;

    .article__title {
      font-style: normal;
      font-weight: bold;
      font-size: $h3;
      line-height: 30px;
      color: $color_2;
      padding-bottom: 20px;
    }
    .article__text {
      font-size: $text;
      font-weight: 500;
      line-height: 28px;
      color: $color_4;
      padding-bottom: 20px;
    }
    .article__link {
      position: relative;
      align-self: flex-start;
      width: 152px;
      font-style: normal;
      font-weight: bold;
      font-size: $link;
      line-height: 28px;
      color: $color_3;
    }
  }
}

.article__link:before {
  content: "";
  position: absolute;
  top: calc(50% - 2.5px);
  right: 12px;
  width: 8px;
  height: 2px;
  background: $color_3;
  border-radius: 2px;
  transform: rotate(45deg);
}
.article__link:after {
  content: "";
  position: absolute;
  top: calc(50% + 2.5px);
  right: 12px;
  width: 8px;
  height: 2px;
  background: $color_3;
  border-radius: 2px;
  transform: rotate(-45deg);
}
