.contacts {
  background: $color_5;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 328px;

  .contacts__subtitle {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: $sub;
    font-weight: bold;
    line-height: 20px;
    color: $color_4;
    padding-bottom: 16px;
  }
  .contacts__title {
    font-size: $h2;
    font-weight: bold;
    line-height: 44px;
    color: $color_2;
    padding-bottom: 24px;
  }
  .contacts__text {
    font-size: $text;
    line-height: 28px;
    color: $color_4;
    padding-bottom: 32px;
  }
  .contacts__button:before {
    content: "";
    position: absolute;
    top: calc(50% - 2.5px);
    right: 12px;
    width: 8px;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transform: rotate(45deg);
  }
  .contacts__button:after {
    content: "";
    position: absolute;
    top: calc(50% + 2.5px);
    right: 12px;
    width: 8px;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transform: rotate(-45deg);
  }
}

.contacts__image {
  width: 100%;
  max-width: 728px;
  min-width: 320px;
  margin-top: -123px;
  margin-bottom: 116px;
  filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.2));
}
