.footer {
  width: 100%;
  background: $color_2;
  color: $color_1;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__logo {
  padding-top: 83px;

  @include lg {
    padding-top: 52px;
  }

  @include sm {
    padding-top: 31px;
  }
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__author {
  max-width: 157px;

  .footer__title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    padding: 64px 0 8px 0;

    @include lg {
      padding: 32px 0 4px 0;
    }

    @include sm {
      padding: 16px 0 2px 0;
    }
  }
  .footer__text {
    font-size: $text;
    line-height: 26px;
  }
}

.footer__address {
  max-width: 109px;
  margin-left: 145px;

  @include md {
    margin-left: 45px;
  }

  .footer__title {
    padding: 64px 0 8px 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.75px;
    text-transform: uppercase;

    @include lg {
      padding: 32px 0 4px 0;
    }

    @include sm {
      padding: 16px 0 2px 0;
    }
  }
  .footer__text {
    font-size: $text;
    line-height: 26px;
  }
}

.footer__line {
  min-width: 1216px;
  padding-top: 64px;

  &:after {
    display: block;
    content: "";
    background-color: $color_1;
    height: 1px;
    opacity: 0.2;
  }

  @include xl {
    min-width: 960px;
    padding-top: 42px;
  }

  @include lg {
    min-width: 740px;
    padding-top: 21px;
  }

  @include md {
    min-width: 560px;
  }
}

.footer__subtitle {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 14px;
  line-height: 18px;
  color: $color_1;
  opacity: 0.5;

  @include xl {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include lg {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
