.header {
  padding-top: 64px;

  @include xl {
    padding-top: 32px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;

  @include xl {
    margin-bottom: 48px;
  }

  @include lg {
    margin: 0 auto;
    margin-bottom: 38px;
  }

  @include md {
    flex-direction: column;
  }
}

.header__logo {
  @include xl {
    margin-right: 50px;
  }

  @include md {
    margin-right: 0;
    padding-bottom: 20px;
  }
}

.button--mail {
  width: 146px;

  @include md {
    align-self: flex-end;
    width: 136px;
  }

  @include sm {
    width: 126px;
  }
}

.button--mail:after {
  content: "\2709";
  padding-left: 20px;

  @include sm {
    padding-left: 10px;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 451px;

  @include lg {
    justify-content: space-around;
  }

  @include md {
    justify-content: space-evenly;
  }

  @include sm {
    flex-wrap: wrap;
    width: 100%;
  }
}

.nav__link {
  font-size: $text;
  font-weight: bold;
  line-height: 40px;
  color: $color_2;
}

.nav__link--active {
  color: $color_3;
  border-bottom: 2px solid $color_3;
  width: 75px;
}

.down {
  font-size: 10px;
}
