.header {
  padding-top: 64px;

  @include xl {
    padding-top: 32px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;

  @include xl {
    margin-bottom: 48px;
  }
}

.header__logo {
  @include xl {
    margin-right: 50px;
  }
}

.button--mail {
  width: 146px;
}

.button--mail:after {
  content: "\2709";
  padding-left: 20px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 451px;
}

.nav__link {
  font-size: $text;
  font-weight: bold;
  line-height: 40px;
  color: $color_2;
}

.nav__link--active {
  color: $color_3;
  border-bottom: 2px solid $color_3;
}

.down {
  font-size: 10px;
}
