.hero__container {
  display: flex;
  width: 100%;
}

.hero__info {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  width: 50%;

  .hero__subtitle {
    padding-bottom: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: $sub;
    font-weight: bold;
    line-height: 20px;
    color: $color_4;
  }
  .hero__title {
    padding-bottom: 15px;
    font-size: $h2;
    font-weight: bold;
    line-height: 45px;
    color: $color_2;
  }
  .hero__text {
    width: 427px;
    font-size: $text;
    font-weight: 500;
    line-height: 28px;
    color: $color_4;
    padding-bottom: 38px;

    @include xl {
      width: 330px;
    }
  }
  .hero__button {
    width: 209px;

    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 2.5px);
      right: 12px;
      width: 8px;
      height: 2px;
      background: $color_1;
      border-radius: 2px;
      transform: rotate(45deg);
    }
    &:after {
      content: "";
      position: absolute;
      top: calc(50% + 2.5px);
      right: 12px;
      width: 8px;
      height: 2px;
      background: $color_1;
      border-radius: 2px;
      transform: rotate(-45deg);
    }
  }

  @include xl {
    width: 40%;
    justify-content: center;
  }
}

.hero__image {
  width: 50%;
  max-width: 593px;
  min-width: 320px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), -50px 100px 0px #f7f8fa;

  @include xl {
    width: 35%;
  }
}
