.hero__container {
  display: flex;
  justify-content: space-between;
  width: 1216px;
  margin: 0 auto;
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;

  .hero__subtitle {
    padding-bottom: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: $sub;
    font-weight: bold;
    line-height: 20px;
    color: $color_4;
  }
  .hero__title {
    padding-bottom: 15px;
    font-size: $h2;
    font-weight: bold;
    line-height: 45px;
    color: $color_2;
  }
  .hero__text {
    font-size: $text;
    font-weight: 500;
    line-height: 28px;
    color: $color_4;
    padding-bottom: 44px;
  }
  .hero__button {
    width: 209px;

    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 2.5px);
      right: 12px;
      width: 8px;
      height: 2px;
      background: $color_1;
      border-radius: 2px;
      transform: rotate(45deg);
    }
    &:after {
      content: "";
      position: absolute;
      top: calc(50% + 2.5px);
      right: 12px;
      width: 8px;
      height: 2px;
      background: $color_1;
      border-radius: 2px;
      transform: rotate(-45deg);
    }
  }
}

.hero__image {
  display: flex;
  width: 593px;
  margin-bottom: 48px;
}
