$text: 16px;
$h2: 32px;
$h3: 20px;
$sub: 14px;
$link: 16px;
$color_1: #ffffff;
$color_2: #263640;
$color_3: #ff9900;
$color_4: #929a9f;
$color_5: #f5f8fa;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
