$text: 1.6rem;
$h2: 3.2rem;
$h3: 2rem;
$sub: 1.4rem;
$link: 1.6rem;
$color_white: #ffffff;
$color_dunkel-blau: #263640;
$color_orange: #ff9900;
$color_light-blue: #929a9f;
$color_ultra-light-grey: #f5f8fa;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
