//Default config
@import "../scss/global/nullstyle";
@import "../scss/global/font";
@import "../scss/global/variables";
@import "../scss/global/mixins";
@import "../scss/components/header";
@import "../scss/components/hero";
@import "../scss/components/features";
@import "../scss/components/history";
@import "../scss/components/articles";
@import "../scss/components/contacts";
@import "../scss/components/footer";

.wrapper {
  max-width: 1920px;
  font-family: "DIN Pro";
}

.button {
  position: relative;
  width: 135px;
  padding: 0px 16px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-size: $text;
  line-height: 40px;
  color: $color_1;
  background: $color_3;
}

@media (max-width: 1200px) {
  .header {
    padding: 20px 10px;
  }
  .header__container {
    justify-content: space-around;
    max-width: 960px;
    margin-bottom: 0;
  }

  .button--mail {
    left: 980px;
    margin-top: 57px;
  }

  .hero__image {
    min-width: 320px;
    max-height: 650px;
  }

  .hero__container {
    max-width: 960px;
    padding-right: 20px;
  }

  .features {
    margin-left: 20px;
  }

  .features__container {
    max-width: 960px;
  }

  .feature__image {
    padding-right: 20px;
  }

  .features__header {
    margin: 0 auto;
    padding-bottom: 30px;
    .features__title {
      text-align: center;
    }
    .features__text {
      text-align: center;
    }
  }

  .history__container {
    max-width: 960px;
  }

  .history__content {
    width: 800px;
  }

  .history__image {
    min-width: 320px;
    top: 104px;
    left: 540px;
  }

  .articles {
    margin-left: 20px;
  }

  .articles__container {
    max-width: 960px;
    padding: 40px 10px 20px 80px;
  }

  .articles__body {
    padding-bottom: 150px;
  }

  .contacts {
    margin-left: 20px;
  }

  .contacts__container {
    min-width: 960px;
    margin-right: 20px;
  }

  .contacts__info {
    padding-left: 20px;
    justify-content: start;
  }

  .contacts__image {
    min-width: 320px;
    padding-right: 20px;
  }

  .footer__container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .header__container {
    max-width: 740px;
    justify-content: center;
    margin-top: 20px;
  }

  .header__logo {
    left: 30px;
  }

  .nav__link:not(:last-child) {
    padding-right: 30px;
  }

  .button--mail {
    left: 800px;
    margin-top: 57px;
  }

  .hero__container {
    max-width: 740px;
    margin-left: 80px;
  }

  .hero__image {
    padding-left: 30px;
    width: 380px;
    height: 420px;
  }

  .features {
    margin-left: 0;
  }

  .features__container {
    max-width: 740px;
  }

  .feature {
    padding-right: 40px;
  }

  .feature__image {
    padding-right: 0;
  }

  .history__container {
    max-width: 740px;
    margin-left: 30px;
  }

  .history__content {
    max-width: 700px;
  }

  .history__content-info {
    max-width: 435px;
    padding-left: 20px;
  }

  .history__image {
    width: 380px;
    height: 420px;
    top: 124px;
    left: 440px;
  }

  .articles__container {
    max-width: 740px;
    padding: 20px 10px 20px 40px;
  }

  .articles__body {
    padding-bottom: 150px;
  }

  .contacts__container {
    max-width: 740px;
    justify-content: start;
    margin-left: 40px;
  }

  .contacts__info {
    padding-left: 20px;
    justify-content: start;
  }

  .contacts__image {
    width: 220px;
    height: 320px;
  }

  .footer__container {
    max-width: 740px;
  }

  .footer__logo {
    padding-top: 40px;
  }

  .footer__line {
    width: 740px;
    padding-top: 14px;
  }

  .footer__subtitle {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
